.camera-btn {
  width: 55px;
  height: 55px;
}

.camera-btn ion-icon {
  font-size: 45px;
  color: grey;
}
.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
